In [1]:
#Decision Tree and preprocessing

In [2]:
#first we import the library and  load the data  
import pandas as pd
dataset=pd.read_csv('kidney_disease.csv')
dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,39.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,43.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,39.0,8300,4.6,yes,no,no,poor,no,no,ckd

In [3]:
dataset.shape

(280, 26)

In [4]:
#notice that we have missing values and nominal values
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
id                280 non-null int64
age               275 non-null float64
bp                271 non-null float64
sg                244 non-null float64
al                245 non-null float64
su                242 non-null float64
rbc               173 non-null object
pc                230 non-null object
pcc               276 non-null object
ba                276 non-null object
bgr               247 non-null float64
bu                266 non-null float64
sc                268 non-null float64
sod               213 non-null float64
pot               212 non-null float64
hemo              241 non-null float64
pcv               229 non-null float64
wc                203 non-null object
rc                187 non-null object
htn               279 non-null object
dm                279 non-null object
cad               279 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [7]:
#Handling Missing float Values by replace them with the median

from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(strategy="mean")
dataset.age=imputer.fit_transform(dataset['age'].values.reshape(-1,1))
dataset.bp =imputer.fit_transform(dataset['bp'].values.reshape(-1,1))
dataset.sg=imputer.fit_transform(dataset['sg'].values.reshape(-1,1))
dataset.al =imputer.fit_transform(dataset['al'].values.reshape(-1,1))
dataset.su=imputer.fit_transform(dataset['su'].values.reshape(-1,1))
dataset.bgr=imputer.fit_transform(dataset['bgr'].values.reshape(-1,1))
dataset.bu=imputer.fit_transform(dataset['bu'].values.reshape(-1,1))
dataset.bgr=imputer.fit_transform(dataset['bgr'].values.reshape(-1,1))
dataset.sc=imputer.fit_transform(dataset['sc'].values.reshape(-1,1))
dataset.sod=imputer.fit_transform(dataset['sod'].values.reshape(-1,1))
dataset.pot=imputer.fit_transform(dataset['pot'].values.reshape(-1,1))
dataset.hemo=imputer.fit_transform(dataset['hemo'].values.reshape(-1,1))
dataset.pcv=imputer.fit_transform(dataset['bgr'].values.reshape(-1,1))

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
id                280 non-null int64
age               280 non-null float64
bp                280 non-null float64
sg                280 non-null float64
al                280 non-null float64
su                280 non-null float64
rbc               280 non-null object
pc                280 non-null object
pcc               280 non-null object
ba                280 non-null object
bgr               280 non-null float64
bu                280 non-null float64
sc                280 non-null float64
sod               280 non-null float64
pot               280 non-null float64
hemo              280 non-null float64
pcv               280 non-null float64
wc                280 non-null object
rc                280 non-null object
htn               280 non-null object
dm                280 non-null object
cad               280 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [8]:
#Handling Missing object Values by replace them with the most frequant

imputer_obj = SimpleImputer(strategy="most_frequent")
dataset.rbc=imputer_obj.fit_transform(dataset['rbc'].values.reshape(-1,1))
dataset.pc=imputer_obj.fit_transform(dataset['pc'].values.reshape(-1,1))
dataset.pcc=imputer_obj.fit_transform(dataset['pcc'].values.reshape(-1,1))
dataset.ba=imputer_obj.fit_transform(dataset['ba'].values.reshape(-1,1))
dataset.wc=imputer_obj.fit_transform(dataset['wc'].values.reshape(-1,1))
dataset.rc=imputer_obj.fit_transform(dataset['rc'].values.reshape(-1,1))
dataset.htn=imputer_obj.fit_transform(dataset['htn'].values.reshape(-1,1))
dataset.dm=imputer_obj.fit_transform(dataset['dm'].values.reshape(-1,1))
dataset.cad=imputer_obj.fit_transform(dataset['cad'].values.reshape(-1,1))

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 26 columns):
id                280 non-null int64
age               280 non-null float64
bp                280 non-null float64
sg                280 non-null float64
al                280 non-null float64
su                280 non-null float64
rbc               280 non-null object
pc                280 non-null object
pcc               280 non-null object
ba                280 non-null object
bgr               280 non-null float64
bu                280 non-null float64
sc                280 non-null float64
sod               280 non-null float64
pot               280 non-null float64
hemo              280 non-null float64
pcv               280 non-null float64
wc                280 non-null object
rc                280 non-null object
htn               280 non-null object
dm                280 non-null object
cad               280 non-null object
appet             280 non-null object
pe                280 non-null object
ane               280 non-null object
classification    280 non-null object
dtypes: float64(12), int64(1), object(13)
memory usage: 57.0+ KB

In [9]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,normal,abnormal,notpresent,notpresent,...,122.0,7900,3.9,yes,yes,no,good,no,no,ckd
1,109,54.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,233.0,11000,4.5,no,yes,no,good,no,no,ckd
2,17,47.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,114.0,11000,4.5,yes,no,no,poor,no,no,ckd
3,347,43.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,108.0,7200,5.5,no,no,no,good,no,no,notckd
4,24,42.0,100.0,1.015,4.0,0.0,normal,abnormal,notpresent,present,...,124.0,8300,4.6,yes,no,no,poor,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,normal,normal,notpresent,notpresent,...,163.0,14600,3.2,yes,yes,no,good,no,no,ckd
276,106,50.0,90.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,89.0,6500,4.5,yes,yes,no,good,yes,yes,ckd
277,270,23.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,111.0,7200,5.0,no,no,no,good,no,no,notckd
278,348,38.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,99.0,7300,6.4,no,no,no,good,no,no,notckd
279,102,17.0,60.0,1.010,0.0,0.0,normal,normal,notpresent,notpresent,...,92.0,7000,4.5,no,no,no,good,no,no,ckd

In [10]:
#We transform our features and the target variable to numeric data
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
dataset.rbc=label_encoder.fit_transform(dataset[['rbc']])
dataset.pc=label_encoder.fit_transform(dataset[['pc']])
dataset.pcc=label_encoder.fit_transform(dataset[['pcc']])
dataset.ba=label_encoder.fit_transform(dataset[['ba']])
dataset.rc=label_encoder.fit_transform(dataset[['rc']])
dataset.wc=label_encoder.fit_transform(dataset[['wc']])
dataset.htn=label_encoder.fit_transform(dataset[['htn']])
dataset.dm=label_encoder.fit_transform(dataset[['dm']])
dataset.cad=label_encoder.fit_transform(dataset[['cad']])
dataset.appet=label_encoder.fit_transform(dataset[['appet']])
dataset.pe=label_encoder.fit_transform(dataset[['pe']])
dataset.ane=label_encoder.fit_transform(dataset[['ane']])
dataset.classification=label_encoder.fit_transform(dataset[['classification']])

/Users/user/opt/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,157,62.0,70.0,1.025,3.0,0.0,1,0,0,0,...,122.0,59,18,1,3,1,0,0,0,0
1,109,54.0,70.0,1.020,0.0,0.0,1,1,0,0,...,233.0,9,25,0,3,1,0,0,0,0
2,17,47.0,80.0,1.020,0.0,0.0,1,1,0,0,...,114.0,9,25,1,2,1,1,0,0,0
3,347,43.0,60.0,1.025,0.0,0.0,1,1,0,0,...,108.0,53,36,0,2,1,0,0,0,1
4,24,42.0,100.0,1.015,4.0,0.0,1,0,0,1,...,124.0,63,26,1,2,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,1,1,0,0,...,163.0,18,11,1,3,1,0,0,0,0
276,106,50.0,90.0,1.020,0.0,0.0,1,1,0,0,...,89.0,47,25,1,3,1,0,1,1,0
277,270,23.0,80.0,1.025,0.0,0.0,1,1,0,0,...,111.0,53,31,0,2,1,0,0,0,1
278,348,38.0,80.0,1.020,0.0,0.0,1,1,0,0,...,99.0,54,45,0,2,1,0,0,0,1
279,102,17.0,60.0,1.010,0.0,0.0,1,1,0,0,...,92.0,52,25,0,2,1,0,0,0,0

In [43]:
#spliting the Data set to apply the model into train and test
from sklearn.model_selection import train_test_split
#split the features and target
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [44]:
x

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,157,62.0,70.0,1.025,3.0,0.0,1,0,0,0,...,12.6,122.0,59,18,1,3,1,0,0,0
1,109,54.0,70.0,1.020,0.0,0.0,1,1,0,0,...,11.7,233.0,9,25,0,3,1,0,0,0
2,17,47.0,80.0,1.020,0.0,0.0,1,1,0,0,...,12.1,114.0,9,25,1,2,1,1,0,0
3,347,43.0,60.0,1.025,0.0,0.0,1,1,0,0,...,17.8,108.0,53,36,0,2,1,0,0,0
4,24,42.0,100.0,1.015,4.0,0.0,1,0,0,1,...,11.1,124.0,63,26,1,2,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,71,46.0,60.0,1.010,1.0,0.0,1,1,0,0,...,9.8,163.0,18,11,1,3,1,0,0,0
276,106,50.0,90.0,1.020,0.0,0.0,1,1,0,0,...,6.0,89.0,47,25,1,3,1,0,1,1
277,270,23.0,80.0,1.025,0.0,0.0,1,1,0,0,...,14.3,111.0,53,31,0,2,1,0,0,0
278,348,38.0,80.0,1.020,0.0,0.0,1,1,0,0,...,13.6,99.0,54,45,0,2,1,0,0,0
279,102,17.0,60.0,1.010,0.0,0.0,1,1,0,0,...,13.9,92.0,52,25,0,2,1,0,0,0

In [45]:
y

0      0
1      0
2      0
3      1
4      0
      ..
275    0
276    0
277    1
278    1
279    0
Name: classification, Length: 280, dtype: int64

In [56]:
#now we select the most 15% important features from the dataset 
from sklearn.feature_selection import SelectPercentile   , chi2 
print(x.shape)
select = SelectPercentile(score_func = chi2 , percentile = 15)
new_x= select.fit_transform(x,y)
print(new_x.shape)

(280, 25)
(280, 4)

In [57]:
#now tha data is ready to apply the  model

from sklearn.tree import DecisionTreeClassifier
DecisionTreeClassifierModel = DecisionTreeClassifier(criterion='entropy',max_depth=6) 
DecisionTreeClassifierModel.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=6,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [58]:
new_x

array([[157. , 122. ,  42. , 122. ],
       [109. , 233. ,  50.1, 233. ],
       [ 17. , 114. ,  87. , 114. ],
       ...,
       [270. , 111. ,  34. , 111. ],
       [348. ,  99. ,  19. ,  99. ],
       [102. ,  92. ,  32. ,  92. ]])

In [59]:
#now we predict the test data
y_pred= DecisionTreeClassifierModel.predict(x_test)

In [60]:
#evaluate the  model 
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

print('the accuracy of the third modle :',accuracy_score(y_test,y_pred))
print('the confusion matrix',confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

the accuracy of the third modle : 1.0
the confusion matrix [[58  0]
 [ 0 26]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        58
           1       1.00      1.00      1.00        26

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [55]:
#the confusion_matrix shows no error or unmatch values and the accuracy score is very high